.about-container {
  width: 50vw;
  height: 65vh;
  border: 1px solid white;
  margin: 24px 24px;
  // background-color: white;
  // margin: auto;
  // position: relative;
  // bottom: 8px;
}

.resume {
  position: relative;
}
