.content {
  position: absolute;
  top: 0px;
  left: 10vw;
  width: 55vw;
  // padding-bottom: 20px;
}

.container {
  margin-top: max(140px, 23.6vh);
  border-right: 1px solid white;
  padding: 8px 16px;
  height: 72vh;
  overflow: scroll;
  // margin-top: 17.6vh;
  // display: flex;
  // justify-content: space-between;
  // flex-direction: row;
  // height: 84.070796460176991vh;
  // margin-top: 15.929203539823009vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -10px 0px;
  // position: absolute;
}

.title {
  position: absolute;
  top: 2.5vh;
}
