.contact-container {
  width: 50vw;
  height: 65vh;
  // border: 1px solid white;
  margin: 0px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  // margin: auto;
  // position: relative;
  // bottom: 8px;
}

.contact-text a:hover {
    text-decoration: underline !important;
  }

.icons {
  font-size: 32px;
  // color: white !important;
}

.svg-inline--fa.fa-w-14 {
  width: auto;
}

.fa-envelope-square, .fa-linkedin, .fa-github-square {
  padding: 0px 8px;
  transition: .2s;
  &:hover {
    opacity: 0.70;
  }
}
