.content {
  position: absolute;
  top: 0px;
  left: 8vw;
  width: 57vw;
  // padding-bottom: 20px;
}

// .title {
//   // margin-top: 20px;
//   // z-index: 1;
// }

.icons {
  font-size: 24px;
}

.fa-envelope-square, .fa-linkedin, .fa-github-square {
  padding: 0px 8px;
}
