.content {
  position: absolute;
  top: 0px;
  left: 10vw;
  width: 55vw;
  // padding-bottom: 20px;
}

// .title {
//   // margin-top: 20px;
//   // z-index: 1;
// }

.container {
  // margin-top: 15.929203539823009vh;

  margin-top: max(140px, 23.6vh);
  border: 1px solid white;
  padding: 8px 16px;
  // margin-top: 17.6vh;
  // display: flex;
  // justify-content: space-between;
  // flex-direction: row;
  // height: 84.070796460176991vh;
  height: 72vh;
  overflow: scroll;
}
