.logo-image {
  height: 150px;
  width: 150px;
  border-right: 1px solid black;
  margin-bottom: -10px;
  transition: .2s;
  &:hover {
    opacity: 0.70;
  }
}

.logo-image-mirror {
  height: 150px;
  width: 150px;
  border-left: 1px solid black;
  margin-bottom: -10px;
}
