.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  background: #111322;
  z-index: 0;
  // position: sticky;
  // top: 0px
}

.navigation-sub a {
  text-decoration: none;
  color: white;
  padding: 50px;
  transition: .2s;
  &:hover {
    color: rgb(102, 102, 102);
  }
}

// .sidebar {
//   width: 150px;
//   // background: rgba($color: #eeeeee, $alpha: 1.0);
// }

// .sidebar-left {
//   border-right: 1px solid black;
//   margin-right: 20px;
// }

// .sidebar-right {
//   border-left: 1px solid black;
//   margin-left: 20px;
// }
