.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  // background: rgba($color: #eeeeee, $alpha: 1.0);
  // position: sticky;
  // top: 0px
}

.navigation-sub a {
  text-decoration: none;
  color: black;
  padding: 50px;
  transition: .2s;
  &:hover {
    color: rgb(102, 102, 102);
  }
}

.sidebar-container {
  display: flex;
  justify-content: space-between;
  // flex-direction: row;
  height: 78.26086956521739vh;
}

.sidebar {
  width: 150px;
  // background: rgba($color: #eeeeee, $alpha: 1.0);
}

.sidebar-left {
  border-right: 1px solid black;
  margin-right: 20px;
}

.sidebar-right {
  border-left: 1px solid black;
  margin-left: 20px;
}
