.thumbnail-container {
  width: 50vw;
  height: 65vh;
  // border: 1px solid white;
  margin: 24px 24px;
  // margin: auto;
  // position: relative;
  // bottom: 8px;
}

.project {
  width: 50vw;
  height: 15vh;
}

.project {
  background-color: rgba($color: #797979, $alpha: 0.20);
  transition: .2s;
  &:hover {
    background-color: rgba($color: #797979, $alpha: 0.50);
  }
}

.project-title, .project-description {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.project-title {
  margin-top: 0px;
  padding-top: 8px;
}

.project-description {
padding-bottom: 8px;
margin-bottom: 8px;
}

.project-image img {
  width: 50vw;
  height: 50vh;
  margin-bottom: -2.5px;
}
