.home-text {
  max-height: 50vh;
position: absolute;
text-align: left;
bottom: 0px;
display: flex;
justify-content: space-evenly;
padding: 24px 16px;
// align-items: baseline;
}

.home-text-left {
  width: 50%;
  margin-right: 48px;
}

.home-text-right {
  width: 50%;
  margin-left: 48px;
  li {
    list-style-type: none;
    text-align: left;
  }
}
