.home-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 16px;
  align-items: center;
  margin: 12px 0px;
}

.home-title {
  text-align: left;
  width: 60%;
  font-size: 20px;
  margin-right: 48px;
  padding-bottom: 10vh;
}

.home-title-name {
  display: inline;
}

.home-title-cv {
  display: inline;
  cursor: pointer;
  opacity: .75;
  transition: .2s;
  &:hover {
    opacity: 1;
  }
}

.home-resume {
  width: 40%;
  font-size: 32px;
  text-align: left;
  margin-left: 48px;
  padding-bottom: 10vh;
}

.home-text {
max-height: 50vh;
// position: absolute;
text-align: left;
bottom: 0px;
display: flex;
justify-content: space-between;
padding: 24px 16px;
// align-items: baseline;
}

.home-text-left {
  width: 60%;
  margin-right: 48px;
}

.home-text-right {
  width: 40%;
  margin-left: 48px;
  list-style-type: none;
}
